<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="author" content="Aracele Torres, Francisco Fernandes, Original Template from CSSTemplatesMarket" />
<meta name="description" content="Latin American KDE Summit" />
<meta name="keywords" content="lakademy, kde, free software, kde summit" />
<title>LaKademy | Latin America KDE Summit</title>
<link rel="icon" type="image/png" href="./images/logo.png">
<link rel="stylesheet" type="text/css" media="all" href="style.css" />
<link rel="stylesheet" href="prettyphoto/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
<script type="text/javascript" charset="utf-8">
var $ = jQuery.noConflict();
  $(window).load(function() {
    $('.flexslider').flexslider({
          animation: "slide"
    });
  });
</script>
</head>
<body>


  <div id="header"> <!-- Header Start-->
                         
        <div class="header_content">
        
            <div class="logoimage">
                <img class="img-responsive" src="images/logoimage.png" alt="logo">
            </div>

            <div class="logo">
                <a href="index.html">LaKademy</a>
                <span>| Latin America KDE Summit</span>
            </div>

            <label for="show-menu" class="show-menu">&#9776;</label>
            <input type="checkbox" id="show-menu" role="button">
            <ul class="" id="menu">
                <li>
                    {% home %}
                </li>
                <li>
                    {% about %}
                </li>
                <li>
                    {% editions_text %}
                    {% editions %}
                </li>
                <li>
                    {% contact_page %}
                </li>
            </ul>

                <div class="languages">
                    <i class="fa fa-language" style="color:white"></i>
                    <a href="index.html">pt</a>
                    <a href="index-es.html">es</a>
                    <a href="index-en.html">en</a>
                </div>
        </div>

  
  </div><!-- End of Header-->

<div id="wrap">


  
  <div class="slider">
        <div class="flexslider">
        <ul class="slides">
            {% editions_slides %}
        </ul>
      </div>
   </div>
   
   
   <div class="main_content">

       {% index_text %}

   </div>
   
   <div class="clear"></div> 
  
   
</div>

        {% footer %}

</body>
</html>
